[Unit]
Description=Beanstalkd service announcer
Requires=etcd.service

After=etcd.service
After=Beanstalkd.service
BindsTo=Beanstalkd.service

[Service]
ExecStart=/bin/sh -c "while true; do echo hello from beanstalkd; /usr/bin/etcdctl set /beanstalkd %H --ttl 15; sleep 10; done"
ExecStop=/usr/bin/etcdctl rm /beanstalkd

[X-Fleet]
MachineOf=Beanstalkd.service