[Unit]
Description=Beanstalkd
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill beanstalkd
ExecStartPre=-/usr/bin/docker rm beanstalkd
ExecStartPre=/usr/bin/docker pull lasr/dockerbeanstalkd
ExecStart=/usr/bin/docker run --name busybox1 beanstalkd /bin/sh -c "while true; do echo Hello World; sleep 1; done"
ExecStop=/usr/bin/docker stop beanstalkd